<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Benvindo ao Libary</h1>
  <h1>Inserira os detalhes do livro</h1>

  <form action="/inserir" method="post">
  
  <input type="text" name="nome" id="nome" placeholder="Nome do livro">
  <input type="text" name="autor" id="autor" placeholder="autor do livro">
  <input type="number" name="page_count" id="page_count" placeholder="page_count do livro">

  <input type="submit" value="Salvar">
  

  </form>

</body>
</html>