<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Seja bem vindo</h1>

<div class="container mt-5">
  <h2>Adicionar Cliente</h2>
  <form action="/addclientes" method="post">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome:</label>
      <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <div class="mb-3">
      <label for="endereco" class="form-label">Endereço:</label>
      <input type="text" class="form-control" id="endereco" name="endereco" required>
    </div>
    <div class="mb-3">
      <label for="telefone" class="form-label">Telefone:</label>
      <input type="tel" class="form-control" id="telefone" name="telefone" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">E-mail:</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <button type="submit" class="btn btn-primary">Adicionar Cliente</button>
  </form>
</div>
</body>
</html>